h1{
  color: red;
  text-align:center;
}

h2{
  color:gold;
  text-align:center;
}

p{
  color:black;
  text-alignt:right;
}
ul{
  color:silver;
  font-weight:100px;
  font-family:'Franklin Gothic Medium';
  font-size:small
  line-height:small
  text-align:left;
}